body { font-family:Helvetica; margin:0; font-size:0.85em; background-color:#e4e4e4; }
a { text-decoration:none; color:#0645ad; }
a:hover { text-decoration:underline; }
p { margin:0.4em 0 0 0; padding:0; }
ul { margin:0.4em 0 0.5em 0; padding:0; }
ol { margin:0.4em 0 0.5em 0; padding-left:2.5em; }
ul li { list-style:none; padding-left:12px; }
.slide { display:none; }
.ctxmenu { border:none; padding:0; }
.ctxmenuitem { width:100%; border:solid 1px #777; padding:0.2em; background-color:#eee; cursor:pointer; }
.ctxmenu-highlighted-item { background-color:#f6f6f6; }
.afypropname { color:#555; }

#thetooltip { position:absolute; z-index:2; width:auto; padding:5px; background-color:#eee; border:solid 1px #000; border-radius:5px; display:none; }
#thetooltiptable { display:none; }
#themenutable { display:none; }
#special { display:none; }